<div class="message-message-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% @messages.each do |message| %>
          <div class="message-message-single">
            <h4 class="message-author">
              <%= message.from_user.name %>
            </h4>
            <p class="message-text">
              <%= message.content %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>