h1 {
  font-weight: bold;
  font-size: 200px;
}

.text-blue {
  color: #4597F5;
}

.btn-blue {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  background-color:  #4597F5;

  &:hover {
    color: #fff;
  }
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }
}

.form-control {
  height: 45px;
}

.text-center {
  font-size: 40px;
}

.member-group-users-new-container {
  padding-top: 220px;
}

.member-users-new-container {
  padding-top: 220px;
}

.form-group {
  margin-bottom: 20px;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: #CCCCCC;
  a {
    color: #CCCCCC !important;
  }
  
  .navbar-brand {
    color: #4597F5;
    padding: 0px;
    margin-top: 15px;
  }
  
  img {
    height: 40px;
  }
}

.title {
  color: #4597F5;
  font-size: 50px;
}