h1 {
  font-weight: bold;
  font-size: 200px;
}

.text-blue {
  color: #4597F5;
}

.btn-blue {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  background-color:  #4597F5;

  &:hover {
    color: #fff;
  }
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }
}

.form-control {
  height: 45px;
}

.text-center {
  font-size: 40px;
}

.users-new-container {
  padding-top: 220px;
}

.form-group {
  margin-bottom: 20px;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar-transparent {
  margin-bottom: 0px;
  background-color: #CCCCCC	;
  a {
    color: #fff !important;
  }

  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
    color: #4597F5;
    font-size: 50px;
  }

  img {
    height: 40px;
  }
}

.bg-primary {
  color: #4597F5;
}

.btn-red {
  color: #FF0000;
  border: 1px solid #FF0000;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.group_user-new-wrapper {
  padding-top: 10px;
}

.member_user-new-wrapper {
  padding-top: 10px;
}

.member_user-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .member_user-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    
    .member_user-author {
      padding-right: 20px;
      padding-left: 20px;
    }
    
    img {
      
      
      padding-right: 20px;
      padding-left: 20px;
      
    }

    .member_user-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
      padding-right: 20px;
    }

    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}

.group_user-index-wrapper {
  padding-top: 70px;
  background-color: #fafafa;
  .group_user-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .group_user-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
      padding-right: 20px;
    }
    
    .group_user-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    .group_user-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}

.profile-title {
  font-size: 30px;
}

.search {
  font-size: 25px;
  padding-top: 20px;
  color: #4597F5;
}

.login-text {
  color: #4597F5;
  padding-bottom: 70px;
}

.btn-primary {
  
}

.group_user-show-one {
  background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
   
    
    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
      max-height: 290px;
    }
    
}

.group_user-show-two {
  background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding-left: 50px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>thead>tr>th {
    border-style: none;
}

.register-users-new-container {
  padding-bottom: 80px;
}




.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.search_form {
  overflow: auto;
  margin: 10px;
  float: right;
  .input-group {
    width: 300px;
    .form-control {
      width: 250px;
    }
    .btn {
      width: 50px;
    }
  }
}